<?xml version="1.0" encoding="UTF-8" ?>
<config>
	<local_port>1080</local_port>
	<remotes>
		<remote>
			<ip_addr>xxxxxx</ip_addr>
			<port>443</port>
			<method>aes-256-cfb</method>
			<password>xxxx</password>
		</remote>
		<remote>
			<ip_addr>xxxxx</ip_addr>
			<port>443</port>
			<method>aes-256-cfb</method>
			<password>xxx</password>
		</remote>
	</remotes>
</config>